<h1><%= @user.username %>'s Closet</h1>
<div class="row">
    <p><strong>Birthday:</strong> <%= @user.birthday.strftime("%m/%d/%Y") %></p>
<% current_user.closets.each do |closet| %>
  <div class="col-md-6">
    <div class="panel-body">
    <%= link_to closet.thing, closet %>
    <p> Submitted by: <strong><%= closet.user.username %></strong></p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Show', closet, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_closet_path(closet), class: "btn btn-warning" %>
    <%= link_to 'Destroy', closet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
  </div>
  <% end %>
 </div>
